
.btn {
    margin:10px;
    background-color: brown;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    opacity: 0.9;
    border-radius:5px;
  }
  .btn2 {
    display:flex;
    justify-content:center;
    margin:0 auto;
    height:auto;
  }
 .head{
    display:flex;
    justify-content:center;
    margin:0 auto;
    height:auto;
    color: #454545;
    font-family: sans-serif;
    margin-top: 10px;
 }