<div class="wrapper">
    <h1>Number</h1>
</div>

<div class="wrapper">
    <input class="text" type="number" placeholder="Enter Number" name="inputString" [(ngModel)]="inputNumber">
</div>

<div class="wrapper2">
<button type="button"  (click)="palindromeNum()">Palindrome Number</button>
<button type="button" (click)="armStrong()">Armstrong number </button>
<button type="button" (click)="evenorOdd()">Even or Odd</button>
<button type="button" (click)="primeorNot()">Prime Number</button>
<button type="button" (click)="perfectsqrt()">Square Root</button>
<button type="button" (click)="factorial()">Factorial</button>
<button type="button" (click)="random()">Generate Random</button>



</div>
<div class="wrapper">
    <p>{{str}}</p><p>{{number}}</p>
</div>

